.header{
    padding: 0.5em;
    background-color: #503c8b;
    box-shadow: 0px 2px 5px 0px lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.header .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.header .title{
    color:white;
    font-size: 1.4em;
    padding-left: 0.3em;
    font-weight: bold;
    margin-top: 0.3em;
}

.header .title:hover{
    color: #f75b5a;
}

.header > .logo > img{
    width: 50px;
}

.header .buttoner{
    display: flex;
    justify-content: space-evenly;
}

.header .buttoner a{
    color: white;
    font-weight: bold;
}

.header .buttoner a:hover{
    color: #f75b5a;
}

.header .buttoner a:not(:first-child){
    padding-left: 1em;
}