.footer{
    background-color: #dcdcdcb8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60px;
}

.footer span{
    padding: 10px;
}

.footer .W{
    font-size: 2em;
    color: #9b59b6;
}

.footer .P{
    font-size: 2em;
    color: #f75b5a;
}