.presentation{
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-image: url("http://www.cashadvance6online.com/data/archive/img/3084974749.png");
    background-repeat: repeat;
}

.presentation > h1{
    padding: 1em;
    margin: 1em;
    padding: 1em;
    margin: 1em;
    /* background-color: #0000001f; */
    /* background-color: #ffffffa8; */
    font-weight: bold;
}